<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header class="topbar" th:fragment="navigation">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="/dashboard">
                <b>
                    <img src="/dashboard/assets/images/logo.png" alt="homepage" class="light-logo" />
                </b>
                <span>
                    <img src="/dashboard/assets/images/logo-text.png" class="light-logo" alt="homepage" />
                </span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
            </ul>
            <ul class="navbar-nav my-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark" href="profile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/dashboard/assets/images/ita-profile.jpg" alt="Pilot User" class="profile-pic m-r-10" th:inline="text"/>[[${userName}]]
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
</html>