<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar">
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li> <a class="waves-effect waves-dark" href="dashboard" aria-expanded="false"><i class="mdi mdi-gauge"></i><span class="hide-menu">Dashboard</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="pilot" aria-expanded="false"><i class="mdi mdi-account-tie"></i><span class="hide-menu">Pilot</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="spacecraft" aria-expanded="false"><i class="mdi mdi-airplane"></i><span class="hide-menu">Spacecrafts</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="flight" aria-expanded="false"><i class="mdi mdi-earth"></i><span class="hide-menu">Flights</span></a>
                        </li>
                        <li> <a class="waves-effect waves-dark" href="profile" aria-expanded="false"><i class="mdi mdi-account-check"></i><span class="hide-menu">Profile</span></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Bottom points-->
            <div class="sidebar-footer">
                <!-- item--><a href="dashboard" class="link" data-toggle="tooltip" title="Home"><i class="mdi mdi-home-variant-outline"></i></a>
                <!-- item--><a href="profile" class="link" data-toggle="tooltip" title="Settings"><i class="mdi mdi-account-cog-outline"></i></a>
                <!-- item--><a href="logout" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a> </div>
        </aside>
    </div>
</body>
</html>